@model Leilao.PL.Lote

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Lote</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID_Lote" />
            <div class="form-group">
                <label asp-for="FK_Leilao" class="control-label"></label>
                <select asp-for="FK_Leilao" class="form-control" asp-items="ViewBag.FK_Leilao"></select>
                <span asp-validation-for="FK_Leilao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValorMinimo" class="control-label"></label>
                <input asp-for="ValorMinimo" class="form-control" />
                <span asp-validation-for="ValorMinimo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValorMaximo" class="control-label"></label>
                <input asp-for="ValorMaximo" class="form-control" />
                <span asp-validation-for="ValorMaximo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
