@{
    ViewData["Title"] = "Centro de Leilões";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo ao Centro de Leilões PSA!</h1>
    <p>Aqui você encontra todo tipo de leilão. Entre e fique à vontade.</p>
</div>